  /* .card {
      margin: 0 12px;
      width: 175px;
      height: 250px;
      background-color: #d97706;
      transition: all 0.18s ease-in-out;
      cursor: pointer;
    }
    
    .card:hover {
      width: 600px;
      height: 857px;
      background-color: #1d4ed8;
    }
    */